.details {
  text-align: center;
  font-size: 1.1rem;
}

.info {
  display: block;
  margin-bottom: 0.3rem;
}

.index_label {
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.index {
  margin-left: 0.4rem;
}
