.air_quality_details {
  grid-area: content;
  text-align: center;
  opacity: 0;
  animation: fade_in 0.3s cubic-bezier(0.28, 0.81, 0.95, 0.61) forwards;
}

.details {
  font-size: 1.1rem;
  background-color: var(--semi-transparent-white);
  color: var(--black);
  display: inline-block;
  padding: 1rem;
  border-radius: 4px;
}

.rating_text {
  font-size: 1.5rem;
  max-width: 60%;
  margin: 0 auto 2.5rem;
}

@media (min-width: 700px) {
  .rating_text {
    font-size: 1.7rem;
  }
}

.info {
  display: block;
  margin-bottom: 0.3rem;
}

.index_label {
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.index {
  margin-left: 0.4rem;
}

.no_data_message {
  grid-area: content;
  text-align: center;
  font-size: 1.1rem;
}

@keyframes fade_in {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
