.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #dbb07b, #8f255b);
}

@media (min-width: 700px) {
  .container {
    background: linear-gradient(to right, #dbb07b, #8f255b);
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 700px) {
  .title {
    font-size: 4rem;
  }
}
